/* 
    Document   : AppsCSS
    Created on : Feb 6, 2015, 8:06:08 AM
    Author     : Anonymous
    Description:
        Purpose of the stylesheet follows.
*/

body {
  min-height: 715px;
  padding-top: 62px;
  background-color: #f5f5f5;
}
.navbar-blog {
  background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-shadow: none;
	box-shadow: none;
}
.channel-list-box{
  position: relative;
  float: left;
  width: 100%;
  padding: 3px;
}
.channel-list-box:hover{
  background-color: #525252;
  color: #1a1a1a;
}
.channel-list-box:active{
  background-color: #3a3a3a;
  color: #1a1a1a;
  cursor: pointer;
}
.channel-list-box.on{
  background-color: #3a3a3a;
  color: #1a1a1a;
  cursor: default;
}
.logo-img{
  position: relative;
  width: 80px;
  height: 50px;
  float: left;
  margin-right: 5px;
  background-color: #000000;
}
.logo-img img{
  max-width: 70%;
  max-height: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.channel-list-desc .nm{
  margin-top: 0px;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.col-channel-list{
  position: relative;
  background-color: #1a1a1a;
  height: 403.5px;
  color: #b8b8b8;
  padding: 0px;
}

.col-channel-list .panel-tab-data {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
}

.col-channel-list .panel-tab-data .tab-content {
    position: relative;
    float: left;
    height: 89.6%;
    overflow-y:auto;
    width: 100%;
}
.col-channel-list .panel-tab-data .tab-content::-webkit-scrollbar { width: 10px; } 
.col-channel-list .panel-tab-data .tab-content::-webkit-scrollbar-track { background-color: #555555; border-radius: 0px; width: 0px; }
.col-channel-list .panel-tab-data .tab-content::-webkit-scrollbar-thumb { background-color: #8e8e8e; border-radius: 0px; }
.col-channel-list .panel-tab-data .tab-content::-webkit-scrollbar-thumb:hover { background-color: #aaa; }
.col-channel-list .panel-tab-data .tab-content::-webkit-scrollbar-button{ display: none; }

.col-player{
  padding: 0px;
}

@media (min-width: 992px) {
    .col-player{
        width: 63%;
    }
    .col-channel-list{
        width: 37%;
    }
}

/* ADVERTISE */
.adv-pa {
    padding: 2px;
    position: relative;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin-right: 10px; 
}
.adv-pa-content {
    background-color: #d5d5d5;
    text-align: center;
    position: relative;
    margin: 2px;
    color: #ffffff;
}

.adv-pa-content embed {
    width: 100%;
    height: 100%;
    position: relative;
}

@media (min-width: 992px) {
    .adv-pa {
        width: 63%;
    }
    .adv-pa-content {
        height: 100px;
        width: 99.5%;
        float: left;
    }
    .adv-pa-content embed {
        max-width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.adv-sb {
    padding: 2px;
    position: relative;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.adv-sb-content {
    background-color: #a5a5a5;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
    color: #ffffff;
    margin: 2px;
}

@media (min-width: 992px) {
    .adv-sb {
        width: 36%;
    }
    .adv-sb-content {
        height: 198px;
        width: 49%;
        float: left;
    }
    .adv-sb-content embed {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}



.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: green;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid green;
    cursor: pointer;
}
.nav-tabs > li > a{
    color: #f5f5f5;
    border: 0;
    border-bottom: 1px solid transparent;
    margin-right: 0px;
    border-radius: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: green;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid green;
    cursor: pointer;
}
.navbar-nav > li > button {
    margin: 7px 5px;
}

.modal-header {
    background-color: #1a1a1a;
    padding: 7px 10px;
    color: #f5f5f5;
    border-bottom: 2px solid green;
}

.modal-footer {
    background-color: #f5f5f5;
    padding: 5px 20px;
}

.modal-header .close {
    margin-top: 1px;
    background-color: #f5f5f5;
    padding: 5px;
}

.modal-dialog {
    width: 600px;
    margin: 150px auto;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}
