/* 
    Document   : AppsCSS
    Created on : Feb 6, 2015, 8:06:08 AM
    Author     : Anonymous
    Description:
        Purpose of the stylesheet follows.
*/

body {
  min-height: 2000px;
  padding-top: 62px;
  background-color: #f5f5f5;
}
.navbar-blog {
  background-image: linear-gradient(to bottom,#fff 0,#ffffff 100%);
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-shadow: none;
	box-shadow: none;
}
.channel-list-box{
  position: relative;
  float: left;
  width: 100%;
  padding: 3px;
}
.channel-list-box:hover{
  background-color: #525252;
  color: #1a1a1a;
}
.channel-list-box:active{
  background-color: #3a3a3a;
  color: #1a1a1a;
}
.logo-img{
  position: relative;
  width: 80px;
  height: 50px;
  float: left;
  margin-right: 5px;
  background-color: #000000;
}
.logo-img img{
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.channel-list-desc .nm{
  margin-top: 0px;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.col-channel-list{
  background-color: #1a1a1a;
  height: 397.1px;
  max-height: 397.1px;
  border-bottom: 1px solid #e8e8e8;
  width: 37%;
  color: #b8b8b8;
  overflow-y: auto;
  padding: 0px;
}
.col-player{
  padding-right: 0px;
  width: 63%;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: green;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid green;
    cursor: pointer;
}
.nav-tabs > li > a{
    color: #f5f5f5;
    border: 0;
    border-bottom: 1px solid transparent;
    margin-right: 0px;
    border-radius: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: green;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid green;
    cursor: pointer;
}

